/* Variables */
:root {
    --primary-color: rgb(2, 100, 2);
    --secondary-color: rgb(90, 114, 81);
}

/* General */
body,html {
    margin: 0;
}
body {
    font-family: 'Lora', serif;
}
h1 {
    color: var(--primary-color);
    font-family: 'Fascinate';
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
h1 img {
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.btn {
    border-radius: 5px;
    padding: 5px;
}
.close {
    color: rgb(190, 9, 9);
    cursor: pointer;
    right: 0;
    position: absolute;
}
.container {
    padding: 1em;
}
.hidden {
    display: none;
}
.loading-message {
    /* display: none; */
    text-align: center;
}
.load-more {
    border: 1px solid var(--primary-color);
    cursor: pointer;
    display: block;
    margin: auto;
}
.load-more:hover {
    background-color: var(--primary-color);
    color: white;
}
.tabs {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.tabs-item {
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: .5em;
}
.tabs-item.active {
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}
.visible {
    display: block;
}

/* Search Form */
#search-form {
    margin: 1em auto;
    width: 50%;
}
#search-form input {
    border: 0;
    height: 100%;
    max-width: 100%;
    width: 90%;
}
#search-form input:focus {
    outline: 0;
}
#search-form select {
    height: 25px;
}
#search-form .form-container {
    align-items: center;
    border: 1px solid lightgray;
    display: inline-flex;
    height: 25px;
    justify-content: space-between;
    max-width: 100%;
    width: 160px;
}
#search-form .btn {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
    width: auto;
}
 
/* Shows */
#tv-shows-list {
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em; */
    /* justify-content: space-around; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#tv-shows-list {
    list-style-type: none;
    padding-left: 0;
}
#tv-shows-list li {
    background-color: #eeeeee;
    display: block;
    margin-bottom: 1em;
    /* margin-left: 1%;
    width: 30%; */
}
#tv-shows-list .btn {
    background-color: #eeeeee;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    height: 80px;
    padding: 15px;
    position: relative;
    text-align: left;
    width: 100%;
}
#tv-shows-list .btn:not(.clicked):hover {
    box-shadow: 2px 2px 2px var(--primary-color);
}
.info {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    left: 20%;
    padding: 8px;
    position: fixed;
    top: 10vh;
    width: 60%;
}
.info__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.info__container > div:nth-of-type(2) {
    width: 68%;
}
.info__container > div {
    margin: 1%;
}
.info h2 {
    color: var(--secondary-color);
    font-style: italic;
    font-family: 'Anton',serif;
    margin-top: 0;
}
.info [data-content]:not(.visible) {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    #search-form .btn {
        display: block;
    }
}
@media only screen and (max-width: 800px) {
    #search-form, 
    #tv-shows-list {
        width: 100%;
    }
    .info {
        left: 2%;
        width: 96%; 
    }
    .info__container > div:nth-of-type(2) {
        width: 100%;
    }
}