/* Variables */
:root {
    --primary-color: rgb(2, 100, 2);
    --secondary-color: rgb(90, 114, 81);
}

/* General */
body {
    font-family: 'Lora', serif;
}
h1 {
    color: var(--primary-color);
    font-family: 'Fascinate';
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
h1 img {
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.btn {
    border-radius: 5px;
    padding: 5px;
}
.close {
    color: rgb(190, 9, 9);
    cursor: pointer;
    right: 0;
    position: absolute;
}
.hidden {
    display: none;
}
.loading-message {
    /* display: none; */
    text-align: center;
}
.visible {
    display: block;
}

/* Search Form */
#search-form {
    margin: auto;
    width: 50%;
}
#search-form input {
    margin-bottom: 1em;
    margin-right: 1em;
}
#search-form .btn {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
}
 
/* Shows */
#tv-shows-list {
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em; */
    /* justify-content: space-around; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#tv-shows-list {
    list-style-type: none;
    padding-left: 0;
}
#tv-shows-list li {
    background-color: #eeeeee;
    display: block;
    margin-bottom: 1em;
    /* margin-left: 1%;
    width: 30%; */
}
#tv-shows-list .btn {
    background-color: #eeeeee;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    height: 80px;
    padding: 15px;
    position: relative;
    text-align: left;
    width: 100%;
}
#tv-shows-list .btn:not(.clicked):hover {
    box-shadow: 2px 2px 2px var(--primary-color);
}
.details {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    left: 25%;
    padding: 8px;
    position: fixed;
    top: 10vh;
    width: 50%;
}
.details__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.details div {
    margin: 1em;
}
.details h2 {
    color: var(--secondary-color);
    font-style: italic;
    font-family: 'Anton',serif;
    margin-top: 0;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    #search-form .btn {
        display: block;
    }
}
@media only screen and (max-width: 800px) {
    #search-form, 
    #tv-shows-list,
    .details {
        width: 100%;
    }
    .details {
        left: 0;
    }
}