/* Variables */
:root {
    --primary-color: rgb(2, 100, 2);
    --secondary-color: rgb(90, 114, 81);
    --light-gray-color: #eeeeee;
}

/* General */
body,html {
    margin: 0;
}
body {
    font-family: 'Lora', serif;
}
h1 {
    color: var(--primary-color);
    font-family: 'Fascinate';
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
h1 img {
    height: 30px;
    vertical-align: middle;
    width: 30px; 
}
img.mx-auto {
    display: block;
}
* {
    box-sizing: border-box;
}
.btn {
    border-radius: 5px;
    padding: 5px;
}
.close {
    color: rgb(190, 9, 9);
    cursor: pointer;
    right: 0;
    position: absolute;
}
.float-left {
    margin-right: 1em;
}
.highlighted {
    background-color: rgb(119, 255, 119);
}
/* -Load Buttons */
.load-more {
    border: 1px solid var(--primary-color);
    display: block;
    margin: auto;
}
.load-more:hover {
    background-color: var(--primary-color);
    color: white;
}
.loading-message-container {
    margin: 0 auto 0.5em auto;
    width: 25%;
}
.spinner-border {
    height: 1rem;
    width: 1rem;
}
/* Components */
/* -Carousel */
.carousel-controls {
    background-color: #000;
    position: relative;
}
.carousel-indicators {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: static;
}
.carousel-indicators li {
    background-color: transparent;
    border: 0;
    color: #fff;
    height: auto;
    padding: 5px;
    text-indent: 0;
    width: auto;
}
.carousel-indicators-container {    
    margin: auto;
    overflow-x: auto;
    text-align: center;
    width: 80%;
}
/* -Nav Pills */
.nav-pills .nav-link {
    color: var(--primary-color);
}
.nav-pills .nav-link.active {
    background-color: var(--primary-color);
}
.nav-pills .nav-link:not(.active):hover {
    color: var(--secondary-color);
}
/* -Popover */
.popover p {
    margin: 0;
}

/* Search Form */
#search-form {
    margin-bottom: 1em;
    margin-top: 1em;
}
#search-form div[class*="col"]:first-child {
    align-items: center;
    border: 1px solid lightgray;
    display: inline-flex;
    justify-content: space-between;
}
#search-form input {
    border: 0;
    height: 100%;
}
#search-form input:focus {
    outline: 0;
}

/* Shows */
#tv-shows-list {
    list-style-type: none;
    padding-left: 0;
}
#tv-shows-list li {
    background-color: var(--light-gray-color);
    display: block;
    margin-bottom: 1em;
}
#tv-shows-list .btn {
    color: var(--primary-color);
    padding: 15px;
}
#tv-shows-list .list-group-item {
    background-color: var(--light-gray-color);
    border-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 0;
}
#tv-shows-list .list-group-item:not(.clicked):hover {
    box-shadow: 2px 2px 2px var(--primary-color);
}

/* TV Show Info Modal */
.info {
    background-color: var(--light-gray-color);
}
.modal {
    padding: 0;
}
.modal-body {
    padding-left: 0;
    padding-right: 0;
}
.modal-header {
    color: var(--primary-color);
    font-style: italic;
    font-family: 'Anton',serif;
    margin-top: 0;
}
.modal-header .close {
    right: 5px;
    top: 0;
}
.modal .carousel-item p:last-of-type {
    margin-bottom: 0;
}
/* -Carousel Item */
#carousel-cast .carousel-item.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#carousel-cast .carousel-item.active div {
    margin: 1em;
    margin-bottom: 0;
}
#carousel-cast .carousel-item .carousel-item-header h5,
#carousel-crew .carousel-item .carousel-item-header h5 {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline;
}
#details span {
    font-weight: 700;
}

/* Media Queries */
/* .col-lg breakpoint */
@media only screen and (max-width: 992px) {
    .nav-pills {
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 1em;
    }
}


